# Cursor build artifacts
.cursor/scripts/build/
.cursor/scripts/dist/
.cursor/scripts/**/*.pyc
.cursor/scripts/**/*.pyz
.cursor/scripts/*.zip
.cursor/scripts/*.pkg
.cursor/scripts/*.exe
.cursor/scripts/*.toc
/cursor-setup-gui/bin
/cursor-setup-gui/obj
/cursor-setup.exe
/cursor-setup-py.exe
/cursor-setup-gui-publish
/cursor-setup-gui.exe
